* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.kv-nav {
  max-width: 1600px;
  margin: 0 auto;
  background: #fff;
  padding: 14px 24px;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Menu */
.kv-menu {
  list-style: none;
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
}

.kv-menu a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

.kv-menu a:hover {
  color: #2e7d32;
}

/* Button */
.btn {
  border: none;
  font-weight: semibold;
  cursor: pointer;
  display: inline-block;
  background: #469165;
  color: #ffffff;
  padding: 14px 28px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
}

.btn:hover {
  background: #43a047;
}

/* Main Style */

/* Banner layout */
#banner {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.banner-content {
  position: relative;
  z-index: 3;
  max-width: 800px;
  color: #fff;
  padding: 0 20px;
}

.EarlyAccess {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  background: #ffffff;
  color: #2e7d32;

  padding: 8px 18px;
  border-radius: 999px;

  font-size: 14px;
  font-weight: 500;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Green icon */
.icon {
  width: 10px;
  height: 10px;
  background: #469165;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.25);
}

.banner-content {
  position: relative;
  z-index: 3;
  max-width: 1360px;
  color: #fff;
  padding: 115.5px 120px 179.5px;
}

.banner-content h1 {
  font-size: 68px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.highlight {
  color: #469165;
}

/* Text */
.banner-content p {
  font-size: 18px;
  color: #dcdcdc;
  margin-bottom: 36px;
}

.btn-outline {
  background: transparent;
  border: 1px solid #ffffff80;
  display: inline-block;
  color: #ffffff;
  padding: 14px 26px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
}

/* Challenges Section */
#challenges {
  padding: 80px 20px;
  background-color: #ffffff;
}

.challenges-container {
  max-width: 1360px;
  margin: 0 auto;
}

.challenges-container .section-heading {
  text-align: center;
  margin-bottom: 44px;
}

.challenges-container .section-heading h2 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #001931;
}

.challenges-container .section-heading p {
  font-size: 16px;
  color: #627382;
  max-width: 1360px;
  margin: 0 auto;
  line-height: 1;
}

.challenges-info {
  display: flex;
  gap: 24px;
}

.challenges-info .info-card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.challenges-info .info-card .icon-circle {
  width: 60px;
  height: 60px;
  background-color: #f95555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}

.challenges-info .info-card .icon-circle img {
  width: 32px;
  height: 32px;
}

.challenges-info .info-card h4 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #001931;
}

.challenges-info .info-card p {
  font-size: 16px;
  color: #627382;
  line-height: 1.6;
}

/* ------- Solutions Section ------------ */

.solution {
  margin: 120px 0;
}

.solution-wrap {
  width: 1360px;
  margin: auto;
  display: flex;
  gap: 60px;
}

.solution-img {
  width: 50%;
}

.solution-img img {
  width: 100%;
}

.solution-text {
  width: 50%;
  padding: 120px 0;
}

.solution-tag p {
  color: #469165;
  font-size: 16px;
}

.solution-text h2 {
  font-size: 48px;
  color: #001931;
  padding: 16px 0;
}

.solution-text p {
  font-size: 16px;
  color: #627382;
  max-width: 700px;
}

.solution-text ul {
  padding: 40px 0;
}

.solution-text li {
  list-style: none;
  font-size: 16px;
  color: #001931;
  margin-bottom: 10px;
}

.solution-text li img {
  width: 16px;
  vertical-align: middle;
}
